__pycache__/
.ipynb_checkpoints/

/cmake-3.*.tar.gz
/cmake-3.*/
/neo-ai-dlr/
/apache-mxnet-src-*.tar.gz
/apache-mxnet-src-*/
/glibc-*/
/glibc-*.tar.gz
/glibc-*.tar.gz.*
models/
/videos/
*.log
/labs/1. Object detection/lab1/
screenshots/
